@model List<Pizza_Ukesoppgave.Models.Bestilling>
@{
    ViewBag.Title = "Liste";
}
<h2 class="text-primary">Bestillings Liste</h2>


<body>
    <div>
        
            <table class="table">
                <tr>
                    <th>Pizza Type</th>
                    <th>Tykkelse</th>
                    <th>Antall</th>
                    <th>Navn</th>
                    <th>Adresse</th>
                    <th>Telefoner</th>

                </tr>
                @foreach (var bestilling in Model)
                {
                    <tr>
                        <td>@bestilling.PizzaType</td>
                        <td>@bestilling.Tykkelse</td>
                        <td>@bestilling.Antall</td>
                        <td>@bestilling.Kunde.Navn</td>
                        <td>@bestilling.Kunde.Adresse </td>
                        <td>@bestilling.Kunde.Telefoner  </td>







                    </tr>
                }
            </table>

       
       
        <a href="/bestilling/register" class="btn btn-success">Register bestilling</a>
    </div>
</body>

